<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feisukj.moduleproject">


    <application
        android:name="com.feisukj.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name_channel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:label"
        >
        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <activity android:name=".appinfo.AppInfoActivity" />
    </application>

</manifest>
